.contentdark {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  float: right;
  background-color: rgb(3, 152, 172);
  color: white;
}

.contentlight {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  float: left;
  padding-left: 30px;
  padding-right:30px;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 46, 53);
  font-size: 24px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.headerbutton {
  background-color: white;
  color: rgb(97, 97, 97);
  border: 2px solid #7ee4ce;
  border-radius: 8px;
  padding: 15px 32px;
  font-size: 32px;
}

.headerbutton:hover {background-color: #e7e7e7;}

#header {
  padding: 120px;
  text-align: center;
  background: #d2e1ff;
  color: rgb(7, 46, 53);
  font-size: 40px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#sidebarlink {
  text-align: right;  
}

#greeting-container {
  margin-top: 20px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.row {
  display: flex;
  padding: 0 4px;
}

.col {
  max-width: 50%;
  padding-right: 2px;
}

.col img {
  margin-top: 4px;
  vertical-align: middle;
}