#contentright {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  float: right;
  text-align: center;
  background-color: rgb(186, 235, 218);
}

#contentleft {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  float: left;
  text-align: center;
  background-color: rgb(164, 207, 231)
}

#header {
  padding: 72px;
  text-align: center;
  background: #bee4dc;
  color: rgb(7, 46, 53);
  font-size: 28px;
}

#sidebarlink {
  text-align: right;  
}

#greeting-container {
  margin-top: 20px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.row {
  display: flex;
  padding: 0 4px;
}

.col {
  max-width: 50%;
  padding-right: 2px;
}

.col img {
  margin-top: 4px;
  vertical-align: middle;
}